@model ProjectViewModel
<br />
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="far fa-list-alt mr-1"></i>
                            Project Detail
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="projectForm">
                        <div class="card-body">
                            <div class="form-group">
                                <label>@Model.Name</label>
                            </div>
                            <div class="progress-group">
                                <b>@Model.CompletionPercentage%</b>
                                <span class="float-right">@Model.TotalTasksDone/@Model.TotalTasks</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-info" style="width: @Model.CompletionPercentage%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="@Url.Action("ManageProject","Home", new { area = "OnePercentProgress", id = Model.Id })" class="btn btn-primary">Edit</a>
                            @*<a href="/OnePercentProgress/Home/PauseProject/01" class="btn btn-warning">Pause</a>
                                <a href="/OnePercentProgress/Home/ResumeProject/01" class="btn btn-success">Resume</a>*@
                            <a href="@Url.Action("Projects","Home", new { area = "OnePercentProgress" })" class="btn btn-secondary">Back to projects</a>
                            <a href="@Url.Action("Tasks","Home", new { area = "OnePercentProgress", projectId = Model.Id })" class="btn btn-info">Tasks</a>
                            @*<a href="/OnePercentProgress/Home/ArchiveProject/01" class="btn btn-danger">Archive</a>*@
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
